<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
</footer>

<footer style="text-align:center; padding:20px;">
  <p>Funded by U.S. Embassy Tokyo</p>
  <p style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
    <img src="/images/USJPNLogo.png" alt="U.S. Embassy Tokyo Logo" width="80">
    <img src="/images/960px-Flag_of_the_United_States.svg.png" width="110">
  </p>
  <p style="font-size: 0.75em; max-width: 600px; margin: 10px auto; line-height: 1.4;">
    This website was funded in part by a grant from the United States Department of State. 
    The opinions, findings and conclusions stated herein are those of the authors and do not necessarily 
    reflect those of the United States Department of State.
  </p>
</footer>
